form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 20px;
}

label {
  margin-top: 12px;
}

input {
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 20px;
  padding: 12px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #005599;
}
