<div class="quick-links">
  <ng-container *ngIf="authService.getUserRole() === 'Admin'">
    <button routerLink="/admin/customers">Add New Customer</button>
    <button routerLink="/admin/products">Add New Product</button>
    <button routerLink="/admin/transactions">View Transactions</button>
    <button routerLink="/admin/reports">View Reports</button>
  </ng-container>

  <ng-container *ngIf="authService.getUserRole() === 'Employee'">
    <button routerLink="/employee/make-sale">Make Sale</button>
    <button routerLink="/employee/add-customer">Add New Customer</button>
    <button routerLink="/employee/view-products">View Products</button>
  </ng-container>
</div>
