<h2>All Transactions</h2>
<table>
  <thead>
    <tr>
      <th>Transaction ID</th>
      <th>Customer</th>
      <th>Product</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.id }}</td>
      <td>{{ transaction.customerName }}</td>
      <td>{{ transaction.productName }}</td>
      <td>{{ transaction.amount | currency }}</td>
      <td>{{ transaction.date | date }}</td>
    </tr>
  </tbody>
</table>
