<div class="login-container">
  <h2>SmartBiz Ledger App - Login</h2>
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
   
    <div>
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        required
      />
    </div>

    <div>
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div> 

   <button type="Login" [disabled]="!loginForm.form.valid">Login</button>
  </form>
</div>
